.modal-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  left: 0px;
  top: 1rem;
}
.modal-wrapper .modal {
  background-color: var(--background-white);
  margin-top: 0px;
  width: 300px;
}
.form-input {
  width: 100%;
}
.select-address-modal .modal {
  width: fit-content;
}
.align-left {
  text-align: left;
}
.select-address-modal-para {
  border-bottom: solid var(--grey);
}
.modal .select-address-content {
  width: fit-content;
}
@media only screen and (max-width: 1280px) {
  .address-modal .modal {
    width: 50vw;
  }
}
@media only screen and (max-width: 992px) {
  .address-modal .modal {
    width: 60vw;
  }
}
@media only screen and (max-width: 778px) {
  .address-modal .modal {
    width: 90vw;
  }
  .select-address-modal .modal {
    width: 250px;
  }
}
