body {
  font-family: "Poppins", sans-serif;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
footer {
  margin-top: auto;
}
.error-image {
  width: 30vw;
}
.align-left {
  text-align: left;
}
.border-grey {
  border: solid 1px var(--grey);
}
.order-list {
  min-width: min-content;
  width: 35rem;
}

.order-card {
  width: 50rem;
}
@media only screen and (max-width: 788px) {
  .error-image {
    width: 70vw;
  }
}

:root {
  --background-white: white;
}
.dark-theme {
  --background-white: #171717;
  --input-grey: #2c3032;
}
input {
  background-color: var(--input-grey);
}
