.toast-custom {
  position: fixed;
  top: 15vh;
  right: 5px;
  width: 200px;
  height: min-content;
  min-width: min-content;
  z-index: 4;
  padding: var(--xs) var(--xxs) var(--xs) var(--xs);
  border-radius: var(--border-radius-s);
  font-size: var(--is-3);
  bottom: var(--l);
}
.alert-success {
  color: var(--green);
  background-color: var(--light-green);
}
.fade-in-right {
  -webkit-animation: fade-in-right 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
