.cart-summary {
  height: min-content;
}
@media only screen and (max-width: 768px) {
  .cart-summary {
    width: 80%;
  }
  .cart-image-wrapper {
    width: 200px;
  }
}
@media only screen and (max-width: 1124px) {
  .cart-card {
    width: 100%;
  }
}
hr {
  border-top: 1px solid var(--grey);
}
.btn-counter {
  cursor: pointer;
  height: var(--m);
  width: var(--m);
  border-radius: var(--border-radius-circle);
  border: none;
}
.input-counter {
  text-align: center;
  width: 2rem;
  height: 1.7rem;
}
.cart-image-wrapper {
  margin-top: -30px;
  width: 35vw;
}
.empty-wishlist-wrapper {
  width: 25vw;
}
