.select-address-content {
  width: 50vw;
  min-width: fit-content;
}
.select-address-content:hover {
  background-color: var(--grey);
  cursor: pointer;
}
.margin-left {
  margin-left: 124px;
}
.select-address-para {
  border-bottom: solid 3px blue;
}
.product-card-button {
  margin-top: auto;
}
.card {
  height: auto;
}
.product-listing {
  height: min-content;
}
.card-icon {
  top: var(--xs);
}
.card-body {
  margin-top: auto;
}
.order-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5rem;
  margin-right: 64px;
  margin-left: 64px;
}

@media only screen and (max-width: 1124px) {
  .margin-left {
    margin-left: 64px;
  }
  .select-address-content {
    width: 65vw;
    min-width: fit-content;
  }
  .order-card {
    margin-right: 24px;
    margin-left: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .margin-left {
    margin-left: 32px;
  }
  .select-address-content {
    width: 80vw;
    min-width: fit-content;
  }
  .order-card {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media only screen and (max-width: 554px) {
  .margin-left {
    margin-left: 10px;
  }
  .select-address-content {
    width: 90vw;
    min-width: fit-content;
  }
}
